html {
    scroll-behavior: smooth;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rounded {
    border-radius: 0.75rem !important;
}

body {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
}

.block:before {
    height: 75px;
    content: "";
    display: block;
}

h1 {
    padding-bottom: 20px;
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

p {
    padding-top: 10px;
}

.carousel-caption {
    right: 0%;
    left: 0%;
    bottom: 0%;
    padding-bottom: 2.25rem;
    background-color: rgba(0, 0, 0, 0.667);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

li a {
    display: block;
    width: 100%;
}

.in-line {
    vertical-align: middle;
    display: inline-block;
}

.repo-anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.repo-link img {
    transition: transform 0.25s;
}

.repo-link:hover img {
    transform: scale(1.15);
}

.side-bar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    padding-top: 25px;
    height: auto;
    overflow-y: auto;       /* Fallback */
    overflow-y: overlay;
    overflow-x: hidden;
    border-right: 1px solid lightgray;
}

.side-bar-width {
    max-width: 350px;
}

.clamped-col {
    max-width: 1000px;
}

.carousel-indicators {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
}

.carousel .carousel-indicators .active {
    background-color: #2b80ff;
}


/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #dadada;
}

::-webkit-scrollbar-thumb {
    background: #969696;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6c6c6c; 
}
