html {
    scroll-behavior: smooth;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rounded {
    border-radius: 0.75rem !important;
}

body {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
}

.section:before {
    height: 75px;
    content: "";
    display: block;
}

h1 {
    padding-bottom: 20px;
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

p {
    padding-top: 10px;
}

.carousel-caption {
    right: 0%;
    left: 0%;
    bottom: 0%;
    padding-bottom: 2.25rem;
    background-color: rgba(0, 0, 0, 0.667);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

li a {
    display: block;
    width: 100%;
}

.in-line {
    vertical-align: middle;
    display: inline-block;
}

.repo-anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.repo-link img {
    transition: transform 0.25s;
}

.repo-link:hover img {
    transform: scale(1.15);
}

.side-bar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    padding-top: 25px;
    height: auto;
    overflow-y: auto;       /* Fallback */
    overflow-y: overlay;
    overflow-x: hidden;
    border-right: 1px solid lightgray;
}

.side-bar-width {
    max-width: 350px;
}

.clamped-col {
    max-width: 1000px;
}

.carousel-indicators {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.95) 75%);
    margin-bottom: 0;
    bottom: -23px;
}

.carousel .carousel-indicators .active {
    background-color: #2b80ff;
    transform: scaleY(1.2) translateY(-0.5px);
}

.carousel-inner {
    height: 330px;
    margin-bottom: 23px;
}

.carousel-item {
    position: relative;
    height: 100%;
}

.carousel-item img {
    max-width: 90%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-control-prev {
    width: 15%;
    margin-right: 5%;
    opacity: 1 !important;
    background-image: radial-gradient(50px 50px at center, white 0%, transparent 75%);
    background-repeat: no-repeat;
}

.carousel-control-next {
    width: 15%;
    margin-left: 5%;
    opacity: 1 !important;
    background-image: radial-gradient(50px 50px at center, white 0%, transparent 75%);
    background-repeat: no-repeat;
}

.repo-topic {
    display: inline-block;
    padding: 0px 10px;
    background-color: #ddf4ff;
    color: #0969da;
    font-size: 12px;
    line-height: 22px;
    border-radius: 11px;
}


/* Custom Scroll Bars */
.side-bar::-webkit-scrollbar {
    width: 7.5px;
}

body::-webkit-scrollbar {
    width: 10px;
}

.side-bar::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-track {
    background: #dadada;
}

.side-bar::-webkit-scrollbar-thumb {
    background: #969696;
    border-radius: 3.75px;
}

body::-webkit-scrollbar-thumb {
    background: #969696;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #969696;
}
